name: CI/CD Laravel a Azure App Service

on:
  push:
    branches:
      # Nivel 6 de indentación.
      - main 

jobs:
  # Nivel 0 de indentación.
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: Production

    steps:
    - uses: actions/checkout@v4
    
    # 1. Configurar PHP y dependencias
    - name: Set up PHP 8.2
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2' 
        extensions: mbstring, pdo_mysql, zip
        coverage: none
    
    - name: Instalar dependencias de Composer
      # Nivel 6: Correcto para propiedades de 'steps'
      run: composer install --no-dev --prefer-dist
      working-directory: ./backend/
      
    # 2. Despliegue al App Service
    - name: 'Deploy to Azure Web App: oswaldo-eduhub-2025'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'oswaldo-eduhub-2025'
        slot-name: 'Production'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        # Nivel 8: Subir la carpeta de la aplicación
        package: ./backend
